<div>

    <div class="row fixed-height">
        <div class="col-xs-3">Selector:</div>
        <div class="col-xs-9">
            <span editable-text="observer.data.selector">{{ observer.data.selector || "selector" }}</span>
        </div>
    </div>
    <div class="row fixed-height">
        <div class="col-xs-3">Predicate:</div>
        <div class="col-xs-9">
            <span editable-text="observer.data.predicate">{{ observer.data.predicate || "predicate" }}</span>
        </div>
    </div>

</div>