<div ng-controller="bmsObserverFormulaCtrl">

  <div class="row fixed-height">
    <div class="col-xs-3">Selector:</div>
    <div class="col-xs-9">
      <span editable-text="observer.data.selector">{{ (observer.data.selector | cut:true:22:' ...') || "selector" }}</span>
    </div>
  </div>
  <div class="row fixed-height">
    <div class="col-xs-3 observer-formula-menu" ng-mouseover="showMenu()" ng-mouseleave="hideMenu()" ng-click="addFormula()">
      <i ng-class="{'fa fa-plus': isMenu, '': !isMenu}"></i>
      {{ isMenu ? " Add" : "Formulas:" }}
    </div>
    <div class="col-xs-9">
      <div ng-repeat="formula in observer.data.formulas track by $index" class="clearfix">

        <div ng-class="{'editable-click': !rowform.$visible, '': rowform.$visible}" ng-click="rowform.$show()" ng-show="!rowform.$visible">
          {{ (formula | cut:true:22:' ...') || "formula" }}
        </div>

        <div ng-show="rowform.$visible" class="inner-value-box">

          <div ng-class="{'editable-click': !rowform.$visible, '': rowform.$visible}">
            <span editable-text="observer.data.formulas[$index]" e-name="formula" e-form="rowform">
              {{ (formula | cut:true:22:' ...') || "formula" }}
            </span>
          </div>
          <div class="observer-form-buttons">
            <form editable-form name="rowform">
              <button type="submit" ng-disabled="rowform.$waiting" title="Save Formula">
                <i class="fa fa-floppy-o"></i>
              </button>
              <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()">
                <i class="fa fa-ban" title="Cancel Editing Formula"></i>
              </button>
            </form>
            <div>
              <button ng-click="removeFormula($index)" title="Remove Formula">
                <i class="fa fa-trash-o"></i>
              </button>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
  <div class="row fixed-height">
    <div class="col-xs-3">Translate:</div>
    <div class="col-xs-9">
      <span editable-checkbox="observer.data.translate">
        <span ng-class="{'fa fa-check-square-o': observer.data.translate, 'fa fa-square-o': !observer.data.translate}"></span>
      </span>
    </div>
  </div>
  <div class="row fixed-height">
    <div class="col-xs-3">Trigger:</div>
    <div class="col-xs-9">
      <span class="editable-click" ng-click="openJsEditor('trigger', observer.data)">
        <i class="fa fa-file-text-o"></i>
        Func</span>
    </div>
  </div>
  <div class="row fixed-height">
    <div class="col-xs-3">Refinement:</div>
    <div class="col-xs-9">
      <div class="js-edit-field">
        <div ng-show="observer.data.refinementJs">
          <span class="editable-click" ng-click="openJsEditor('refinement', observer.data)">
            <i class="fa fa-file-text-o"></i>
            Func</span>
        </div>
        <div ng-show="!observer.data.refinementJs">
          <span ng-class="{'editable-click': !refinementForm.$visible, '': refinementForm.$visible}" ng-show="!refinementForm.$visible" ng-click="refinementForm.$show()" editable-text="observer.data.refinement" e-name="refinement" e-form="refinementForm">{{ (observer.data.refinement | cut:true:22:' ...') || "-" }}</span>
        </div>
      </div>
      <div class="bt-switch-js" ng-hide="refinementForm.$visible">
        <i class="fa fa-code" ng-click="switchToJs('refinement', observer.data)"></i>
      </div>
    </div>
  </div>

</div>
