<div bms-dialog type="CurrentTrace" title="History">
    <div prob-view></div>
</div>

<div bms-dialog type="Events" title="Events">
    <div prob-view></div>
</div>

<div bms-dialog type="StateInspector" title="State">
    <div prob-view></div>
</div>

<div bms-dialog type="CurrentAnimations" title="Animations">
    <div prob-view></div>
</div>

<div bms-dialog type="BConsole" title="Console">
    <div prob-view></div>
</div>

<div bms-dialog type="ModelCheckingUI" title="ModelChecking">
    <div prob-view></div>
</div>
